// ### Scrollbars
// ::-webkit-scrollbar the background of the bar itself.
// ::-webkit-scrollbar-button the directional buttons on the scrollbar.
// ::-webkit-scrollbar-track the empty space “below” the progress bar.
// ::-webkit-scrollbar-track-piece the top-most layer of the the progress bar not covered by the thumb.
// ::-webkit-scrollbar-thumb the draggable scrolling element resizes depending on the size of the scrollable element.
// ::-webkit-scrollbar-corner the bottom corner of the scrollable element, where two scrollbar meet.
// ::-webkit-resizer the draggable resizing handle that appears above the scrollbar-corner at the bottom corner of some elements.
::-webkit-scrollbar {
  background-color: var(--highlight-glass) !important;
  width: 0.3rem;
  animation: fade-in 0.2s ease-in;
}
::-webkit-scrollbar-thumb {
  background-color: var(--highlight-glow);
}
::-webkit-scrollbar-track {
  width: 25%;
}

/* scroll-snap */
.x-mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}
.x-proximity-scroll-snapping {
  scroll-snap-type: x proximity;
}
.y-mandatory-scroll-snapping {
  scroll-snap-type: y mandatory;
}
.y-proximity-scroll-snapping {
  scroll-snap-type: y proximity;
}

.slow-scroll {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}
