@use '../base/sizing';

// ## Tables
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0.2rem;
  // border: solid 1px var(--action-shade);
  // border-radius: 0.33rem;
  box-sizing: border-box;
  overflow: hidden;
}
tbody {
  @extend .fill-x;
}
tr {
  border: none;
}
th {
  color: var(--text);
  font-weight: 700;
  font-size: 0.66rem;
  padding: 0.33rem;
  border: solid 1px color-mix(in srgb, var(--complement) 33%, transparent);
  background-color: color-mix(in srgb, var(--complement) 7%, transparent);
}
td {
  color: var(--text);
  font-weight: 300;
  font-size: 1rem;
  padding: 0.33rem;
  border: solid 1px color-mix(in srgb, var(--complement) 33%, transparent);
  background-color: color-mix(in srgb, var(--complement) 7%, transparent);
}
